# Project 4: Web Scraping Job Postings

### Forecasting salary ranges for data science jobs in San Francisco using Indeed.com's API to gather job descriptions.
# 👨🏻‍💻👩🏻‍💻👨🏼‍💻👩🏼‍💻👨🏽‍💻👩🏽‍💻👨🏾‍💻👩🏾‍💻👨🏿‍💻👩🏿‍💻👨🏻‍💻👩🏻‍💻👨🏼‍💻👩🏼‍💻👨🏽‍💻👩🏽‍💻👨🏾‍💻👩🏾‍💻👨🏿‍💻👩🏿‍💻👨🏻‍💻👩🏻‍💻👨🏼‍💻👩🏼‍💻👨🏽‍💻👩🏽‍💻👨🏾‍💻👩🏾‍💻👨🏿‍💻👩🏿‍💻

In [84]:
import pprint
import requests
import json
import pandas as pd
import urllib2
import time
import numpy as np
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LassoCV, RidgeCV, ElasticNetCV, LinearRegression
import matplotlib
import plotly.plotly as py
import cufflinks as cf

# Using the Indeed API to collect data
from indeed import IndeedClient

# Shushing the compiler
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.set_option('chained_assignment',None)

In [85]:
# The API requires passing the client's IP.
# So, I'll create a function to collect that.

def get_ip():
    ext_ip = urllib2.urlopen('http://whatismyip.org').read()
    return ext_ip

In [86]:
# Setting my Indeed Developer API Key as a variable

client = IndeedClient(publisher = 1295525004807710)

In [87]:
# The parameter structure for the API request:

params = {
        'q': "data+scientist",
        'l': "any",                                                      
        'start': 0,                                               
        'end': 5000,
        'limit': 5000,
        'userip': get_ip,
        'useragent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_2)",
        'sort': 'date',
        'fromage': 'any',
        'co': 'any'
}

In [88]:
indeed = pd.DataFrame()
search_response = client.search(**params)
indeed = indeed.append(search_response['results'], ignore_index=True)

In [89]:
indeed = pd.DataFrame(search_response['results'])
indeed.shape

(25, 19)

### Uh oh! An API limiting condition!! 😩<br>
The API will only pass 25 listings at a time.<br>
Even though we passed a limit at 5000 and an end at 5000, the API stops at 25.

So, we have to create a range with steps of 24:<br>
<ol>
    <li>Collect the reponse from Indeed</li>
    <li>Append the response to the DataFrame</li>
    <li>Increment the parameters passed to the Indeed servers so that we can bypass their API restriction of 25 records</li>
</ol>
# 🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉

ALSO! I did some prodding of the parameters and the formatting of the advanced search feature on Indeed's website.<br> Although undocumented, it is possible to pass salary ranges into our search parameters.<br> Indeed advises these numbers are approximations:<br>

<i>How much does a Data Scientist in the United States make?</i><br>

The average Data Scientist salary in the United States is approximately 💲130,164.
Salary information comes from 36,404 data points collected directly from employees, users, and past and present job advertisements on Indeed in the past 12 months.
Please note that all salary figures are approximations based upon third party submissions to Indeed.

In [101]:
indeed275k = pd.DataFrame()

for i in np.arange(0, 2000, 24):                                                                                                                                                                                            
    params = {                                                                
                'q': "data+scientist",
                'salary': '$265k-275k',
                'l': "san francisco",                                                      
                'start': 0 + i,                                               
                'end': 24 + i,
                'limit': 25,
                'userip': get_ip,
                'useragent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_2)",
                'sort': 'date',
                'fromage': 'any',
                'co': 'any'
             }
    search_response = client.search(**params)
    indeed275k = indeed275k.append(search_response['results'], ignore_index=True)   
                                                                                  
indeed275k.shape

IndexError: list index out of range

#### Looks like we hit a wall for salaries above 💲265,000.
But, realistically... who's getting more than $265k?? 😳

In [102]:
# DataFrame Shapes
print 'Indeed $0k - $65k: ', indeed65k.shape
print 'Indeed $65k - $85k: ', indeed85k.shape
print 'Indeed $85k - $105k: ', indeed105k.shape
print 'Indeed $105k - $125k: ', indeed125k.shape
print 'Indeed $125k - $145k: ', indeed145k.shape
print 'Indeed $145k - $165k: ', indeed165k.shape
print 'Indeed $165k - $185k: ', indeed185k.shape
print 'Indeed $185k - $205k: ', indeed205k.shape
print 'Indeed $205k - $225k: ', indeed225k.shape
print 'Indeed $225k - $245k: ', indeed245k.shape
print 'Indeed $245k - $265k: ', indeed265k.shape

Indeed $0k - $65k:  (644, 19)
Indeed $65k - $85k:  (1370, 19)
Indeed $85k - $105k:  (728, 19)
Indeed $105k - $125k:  (1821, 19)
Indeed $125k - $145k:  (903, 19)
Indeed $145k - $165k:  (1021, 19)
Indeed $165k - $185k:  (720, 19)
Indeed $185k - $205k:  (167, 19)
Indeed $205k - $225k:  (84, 19)
Indeed $225k - $245k:  (84, 19)
Indeed $245k - $265k:  (84, 19)

## Let's take a look at some of these DataFrames. 🔍

In [103]:
indeed185k.company.value_counts()

Workbridge Associates       393
Harnham                     163
Elevate Recruiting Group     83
Jobspring Partners           81
Name: company, dtype: int64

In [104]:
indeed205k.company.value_counts()

Workbridge Associates    167
Name: company, dtype: int64

In [105]:
indeed225k.company.value_counts()

Harnham    84
Name: company, dtype: int64

In [106]:
indeed245k.company.value_counts()

Averity    84
Name: company, dtype: int64

In [107]:
indeed265k.company.value_counts()

Workbridge Associates    84
Name: company, dtype: int64

### There doesn't seem to be much value in any of the $205k+ DataFrames.

#### Having these salary ranges allows me to create salary targets within each DataFrame.
# 💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲🤑💲

In [108]:
indeed65k['salary'] = 65000
indeed85k['salary'] = 85000
indeed105k['salary'] = 105000
indeed125k['salary'] = 125000
indeed145k['salary'] = 145000
indeed165k['salary'] = 165000
indeed185k['salary'] = 185000

Let's put these all together into one DataFrame for cleaning and analysis.

In [109]:
yes_indeedy = [indeed85k, indeed105k, indeed125k, indeed145k, indeed165k, \
               indeed185k]

indeed = indeed65k.append(yes_indeedy)

In [110]:
indeed.shape

(7207, 20)

Let's check for duplicate job listings and take those out.

In [111]:
indeed[indeed.duplicated('jobkey', keep=False) == False].count()

city                     124
company                  124
country                  124
date                     124
expired                  124
formattedLocation        124
formattedLocationFull    124
formattedRelativeTime    124
indeedApply              124
jobkey                   124
jobtitle                 124
language                 124
onmousedown              124
snippet                  124
source                   124
sponsored                124
state                    124
stations                 124
url                      124
salary                   124
dtype: int64

Rut-roh! Looks like there are several duplicates!<br>
Let's nuke 'em!
# 💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥💥

In [112]:
indeed = indeed[indeed.duplicated('jobkey', keep=False) == True]
indeed.reset_index(drop=True, inplace=True)

I'm turning this DataFrame into a .CSV file to make a checkpoint of my work.

In [113]:
indeed.to_csv('indeed_collection.csv', sep=',', encoding='utf-8')

In [114]:
# indeed = pd.read_csv('./indeed_collection.csv')

In [115]:
indeed.shape

(7083, 20)

Around 7000 rows isn't very meaty, and my intial impulse is to widen the location net.<br> We have to consider that the Bay Area likely pays at a disproportionate rate compared to other regions.<br> So, for the time being, we'll work from here.

How tidy is the rest of the DataFrame?

In [116]:
indeed.dtypes

city                     object
company                  object
country                  object
date                     object
expired                    bool
formattedLocation        object
formattedLocationFull    object
formattedRelativeTime    object
indeedApply                bool
jobkey                   object
jobtitle                 object
language                 object
onmousedown              object
snippet                  object
source                   object
sponsored                  bool
state                    object
stations                 object
url                      object
salary                    int64
dtype: object

In [117]:
indeed.head(1)

,city,company,country,date,expired,formattedLocation,formattedLocationFull,formattedRelativeTime,indeedApply,jobkey,jobtitle,language,onmousedown,snippet,source,sponsored,state,stations,url,salary
0,San Francisco,IBM,US,"Mon, 15 May 2017 21:28:22 GMT",False,"San Francisco, CA","San Francisco, CA",3 days ago,False,c33fae3f8ce6ba8c,Data Science Community Manager,en,"indeed_clk(this,'4723');",<b>Data</b> <b>Scientist</b> Community Manager...,IBM,False,CA,,http://www.indeed.com/viewjob?jk=c33fae3f8ce6b...,65000

#### Looks like we have a few wonky columns to drop.
We will drop the <i>Country</i>, <i>State</i>, <i>Stations</i>, <i>Sponsored</i>, <i>Language</i>, and <i>Expired</i> columns, because they are uniform.<br>
We also don't have a need for the individual job listing <i>URL</i>s or the <i>On Mouse Down</i> actions column.<br> The <i>Company</i> and <i>Source</i> features have matching data, so we only need one.<br>The <i>Formatted Location</i> and <i>Formatted Location Full</i> columns also tell us little, so they can go.<br>Also, we no longer need the <i>JobKey</i> feature, because we have so far used it to remove any duplicates.
<br><br> There may be salary differences within the Bay Area, but we don't have a need for this combined detail considering that there is a <i>City</i> column provided.

In [118]:
indeed.drop(['city', 'country', 'state', 'stations', 'sponsored', 'language', 'expired', \
             'formattedLocation', 'source', 'formattedLocationFull', 'url', 'onmousedown', \
             'jobkey'],
             axis=1, inplace=True)

indeed.reset_index(drop=True, inplace=True)

Let's convert the date column to DateTime.

In [119]:
indeed['date'] = pd.to_datetime(indeed['date'], infer_datetime_format=True)

Let's see if we can do something with the <i>Formatted Relative Time</i> column.

In [120]:
indeed.formattedRelativeTime.value_counts()

30+ days ago    5753
2 days ago       170
20 days ago      163
21 days ago      159
23 days ago       96
7 days ago        96
6 days ago        94
17 days ago       93
15 days ago       93
8 days ago        91
3 days ago        87
10 days ago       83
28 days ago       48
27 days ago       21
26 days ago       17
12 days ago       11
5 days ago         4
29 days ago        2
24 days ago        2
Name: formattedRelativeTime, dtype: int64

In [121]:
indeed.dtypes

company                          object
date                     datetime64[ns]
formattedRelativeTime            object
indeedApply                        bool
jobtitle                         object
snippet                          object
salary                            int64
dtype: object

### Woof. That's no fun. 🤢
I'll need to convert the 'hours ago' listings to 1 day, and then I'll have to extract the integers from the 'day ago' strings.<br> Then, I'll drop the <i>Formatted Relative Time</i> column.

In [122]:
indeed['daysAgo'] = indeed['formattedRelativeTime'].str.extract('(\d+)').astype(int)
indeed['daysAgo'][indeed['formattedRelativeTime'].str.contains('hours')] = 1
indeed.drop('formattedRelativeTime', axis=1, inplace=True)

In [123]:
indeed.head(3)

,company,date,indeedApply,jobtitle,snippet,salary,daysAgo
0,IBM,2017-05-15 21:28:22,False,Data Science Community Manager,<b>Data</b> <b>Scientist</b> Community Manager...,65000,3
1,LiveRamp,2017-04-27 18:03:49,True,Senior Technical Recruiter,Successful track record and high level of expe...,65000,21
2,Upstart,2017-03-21 05:52:04,False,Data Scientist (Internship),We're looking for someone to join our <b>data<...,65000,30

### Are they really all data scientist jobs?

In [124]:
indeed.jobtitle.unique()

array([u'Data Science Community Manager', u'Senior Technical Recruiter',
       u'Data Scientist (Internship)',
       u'Data Scientist Intern - Summer 2017', u'Data Scientist',
       u'Market Research Analyst - Analyst Development Program',
       u'Client Support Specialist', u'Analytic Consultant 1',
       u'SAFETY AND INSURANCE DATA SCIENTIST',
       u'Statistician/Predictive Modeler/Data Scientist',
       u'Lead Data Science Instructor', u'BioMedical Data Scientist',
       u'Database Analsyt', u'Statistically Significant Data Scientist',
       u'Data Scientist - Economics & Legal', u'Data Scientist, CDHI',
       u'Connect - Director, Advertising, Media & Technology Research',
       u'Data Scientist - Yammer',
       u'Data Scientist Internship (Summer 2017)',
       u'Firmware Data Scientist', u'Data Scientist - Uber for Business',
       u'Website Designer and Manager',
       u'Clinical Data Scientist (Manager)', u'Data Scientist II',
       u'Sr. Data Scientist (Operations Research Scientist)',
       u'Senior Data Scientist', u'DATA SCIENTIST',
       u'Data Scientist, ATG Finance', u'Sr. Data Scientist',
       u'Data Scientist, Product Operations Advanced Analytics',
       u'gU Faculty, Principal Data Scientist',
       u'Data Scientist, Natural Language Processing',
       u'Quantitative Developer / Data Scientist',
       u'CRM Data Scientist Intern (W Shen)', u'Lead Data Scientist',
       u'Lead Instructor, Principal Data Scientist', u'Data Analyst',
       u'Business / Sales Development Representative',
       u'Policy Data Scientist',
       u'Hiring! Data Scientist in San francisco, CA #datascientist #python #machinelearning #apply now:',
       u'Hiring! Data Scientist in SF Bay Area #datascientist #machinelearning #python #applynow:',
       u'Connect - Senior Research Analyst',
       u'Solutions Data Scientist - Fast Growth Tech',
       u'Data Scientist - (Summer Internship)',
       u'Data Scientist- Financial Technology',
       u'Principal Product Strategy Analyst', u'Senior Data Engineer',
       u'Staff Data Scientist',
       u'Python/R Engineer (Data Science) Contract', u'Data scientist',
       u'Machine Learning Engineer - Ads Prediction',
       u'Senior/Principal Data Scientist',
       u'Data Scientist (Python/R) Contract',
       u'Regional Sales Director - SF/Bay', u'Associate Data Scientist',
       u'Principal Data Scientist', u'Computational Biologist',
       u'Mass Spectrometry Data Scientist', u'Bioinformatics Scientist',
       u'Growth Data Scientist', u'Data Scientist (All Levels)',
       u'Hiring!Data Scientist in San Francisco, CA #datasciencejobs #applynow:',
       u'\u200bData Engineer',
       u'UX Content Designer, Small Business Design',
       u'Data Scientist - Community Operations',
       u'Senior Data Scientist - Marketplace and pricing optimization',
       u'Senior Product Manager', u'Software Engineer - Relevance',
       u'Senior Manager- Data Science (Digital)',
       u'Senior Data Scientist- Mobile Solutions',
       u'Manager, Machine Learning Modeler / Data Scientist',
       u'Data Scientist: Mapping Technologies',
       u'Machine Learning Data Scientist \u2013 Algorithm Development',
       u'Principal Engineer', u'Data Scientist, Analytics',
       u'Data Scientist, Platform Analytics',
       u'Data Scientist, Predictive Analytics, Medical Diag, Recent Grad',
       u'Sr Data Scientist',
       u'All Levels Data Scientist & Data Engineer Opportunity',
       u'Senior Data Scientist, Search and Local',
       u'Predictive Analytics Manager', u'Risk Data Scientist',
       u'Data Scientist- Digital', u'Data Scientist - Mobile Startup',
       u'Senior Data Scientist - Virtual and Augmented Reality',
       u'Senior Data Scientist - AdTech', u'Director of Data Science',
       u'Lead Data Scientist, Card Machine Learning',
       u'Software Engineer - Structured Streaming',
       u'Senior Data Scientist, NLP', u'Data Scientist (Machine Learning)',
       u'Data Scientist (Natural Language Processing)',
       u'Senior Data Scientist (Personalization)',
       u'Data Scientist, Product',
       u'Senior Data Scientist: Modeling/Forecasting',
       u'Senior Data Scientist - Relevance Platform',
       u'Data Scientist - Senior Consultant',
       u'Senior Product Manager - Data Products',
       u'DATA SCIENTIST-OPTIMIZATION/AI',
       u'Data Scientist Manager, eCommerce', u'Director, Data Science',
       u'Chief Data Scientist',
       u'Vice President of Data Science & Machine Learning',
       u'Senior Data Scientist - Security Experience is Huge',
       u'Principal Data Scientist (Personalization)',
       u'Data Scientist (Contract)', u'Mid-Level NLP Data Scientist',
       u'Data Scientist (Python)', u'Senior Data Scientist (Python)',
       u'Senior Research Engineer (Machine Learning)'], dtype=object)

#### We don't need no stinkin' Technical Recruiters or UX Content Designers muddying up our stats!
<i>(No offense to Technical Recruiters or UX Content Designers.)</i> 😅

In [125]:
ignore_these = ['UX', 'Recruiter', 'Sales', 'Bioinformatics', 'Connect', 'Biologist', \
                'Client']

indeed = indeed[~indeed['jobtitle'].str.contains('|'.join(ignore_these))]

indeed.reset_index(drop=True, inplace=True)

## Let's clean up and cosolidate these job types. 🛀🏼

In [126]:
indeed.jobtitle = indeed.jobtitle.str.lower()
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'manager' if 'mgr' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'senior' if 'sr' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'senior' if 'senior' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'head' if 'head' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'manager' if 'manager' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'senior' if 'principle' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'senior' if 'principal' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'senior' if 'ii' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'engineer' if 'engineer' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'senior' if 'lead' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'nlp' if 'nlp' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'intern' if 'internship' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'intern' if 'intern' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'contract' if 'contract' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'analyst' if 'analyst' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'analyst' if 'analytic' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'nlp' if 'natural' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'analyst' if 'analsyt' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'data scientist' if 'data scientist' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'director' if 'director' in x else x)
indeed.jobtitle = indeed.jobtitle.map(lambda x: 'director' if 'vice' in x else x)

In [127]:
indeed.jobtitle.unique()

array(['manager', 'intern', 'data scientist', 'analyst', 'senior', 'nlp',
       'engineer', 'contract', 'director'], dtype=object)

## Lookin' good!
Now, we can dig into the job descriptions in the <i>Snippet</i> column.

#### First step: getting a good idea of the special words in the job snippets.

Cleaning up the <i>Snippets</i> and <i>JobTitle</i> features.

In [128]:
indeed['snippet'] = indeed['snippet'].str.replace('<b>', '')
indeed['snippet'] = indeed['snippet'].str.replace('</b>', '')
indeed['snippet'] = indeed['snippet'].str.replace('.', '')
indeed['snippet'] = indeed['snippet'].str.replace(',', '')
indeed['snippet'] = indeed['snippet'].str.lower()

In [129]:
snippets = indeed.snippet.to_string()

In [130]:
vect = CountVectorizer(stop_words='english')
vect.fit_transform(indeed.snippet)

<6537x808 sparse matrix of type '<type 'numpy.int64'>'
	with 86587 stored elements in Compressed Sparse Row format>

In [131]:
vocab_dict = vect.vocabulary_
vocab = [[k,v] for k,v in vocab_dict.items()]

In [132]:
indeed_vocab = pd.DataFrame(vocab)
indeed_vocab.columns = ['word', 'count']
print indeed_vocab.sort_values('count', ascending=False).to_string()

                 word  count
666              yume    807
387            yodlee    806
430             years    805
216           writing    804
29            wrangle    803
696             world    802
109           working    801
762              work    800
744              wish    799
467              wide    798
613               web    797
691           weaving    796
727               way    795
775         warehouse    794
516             wants    793
148              want    792
549                vp    791
736            volume    790
22        visualizing    789
586    visualizations    788
471     visualization    787
370         visionary    786
101           visible    785
769           virtual    784
443              view    783
626        vertically    782
157            verify    781
465           various    780
766           variety    779
537             value    778
583          validate    777
204           utilize    776
607             using    775
783             users    774
581              user    773
574              used    772
108               use    771
622             usage    770
522           upstart    769
186      unstructured    768
544        unlabelled    767
637            unique    766
44         unexpected    765
71      understanding    764
528        understand    763
196          ultimate    762
752              uber    761
185             types    760
656           twitter    759
16                 tv    758
270           turning    757
241             truth    756
642          trillion    755
87              trial    754
512            triage    753
644        translates    752
728         translate    751
173      transforming    750
623    transformation    749
353     transactional    748
103           trained    747
124             train    746
517          toolsets    745
105             tools    744
321              tool    743
380          tomorrow    742
117             today    741
18                 tn    740
287             times    739
31             timely    738
314              time    737
298              tier    736
793         ticketfly    735
415         thousands    734
349        thoughtful    733
723           textual    732
456    textaudiovideo    731
447           testing    730
14              terms    729
466              tens    728
28            telling    727
554        technology    726
504      technologist    725
737      technologies    724
455        techniques    723
82          technical    722
253             teams    721
40               team    720
276             teach    719
596         targeting    718
81             talent    717
221           systems    716
765        supportive    715
67         supporting    714
721           support    713
93            studies    712
801          students    711
315        structures    710
331        structured    709
76             strong    708
489           streams    707
658         streaming    706
296         strategic    705
341      storytelling    704
598            stores    703
768           storage    702
792            stocks    701
159       stewardship    700
278          steering    699
717        statistics    698
686      statistician    697
208       statistical    696
464             state    695
448           startup    694
725             start    693
65              staff    692
585             stack    691
189                sr    690
790               sql    689
203      spreadsheets    688
523          spotfire    687
611             speed    686
750      spectrometry    685
774           spatial    684
481             spark    683
151          spanning    682
604           sources    681
794            source    680
177    sophistication    679
735     sophisticated    678
215           solving    677
301           solvers    676
238            solver    675
591             solve    674
401         solutions    673
36           solution    672
534             solid    671
705          software    670
90             social    669
41              small    668
35             skills    667
609             skill    666
190               sit    665
501            simply    664
48               sign    663
704           showpad    662
72            shouldn    661
703             shiny    660
432           shaping    659
198                sf    658
592              sets    657
376          services    656
283           service    655
265            sensor    654
149             sense    653
391            senior    652
66              seeks    651
227           seeking    650
348              seek    649
649          security    648
521           sectors    647
396            sector    646
524            search    645
709           scripts    644
140         scripting    643
473            screen    642
114             scope    641
63         scientists    640
206         scientist    639
683        scientific    638
358          sciences    637
132           science    636
667             scale    635
347               sas    634
340               san    633
1               sales    632
330             roles    631
773              role    630
599            rocket    629
373             rigor    628
713             right    627
412              rich    626
280     revolutionary    625
461            review    624
294           revenue    623
11          retention    622
25            results    621
354       responsible    620
364    responsibility    619
163  responsibilities    618
573         responses    617
484           resides    616
260          research    615
97          requiring    614
181      requirements    613
799          required    612
325      representing    611
449         reporting    610
429            report    609
64           relocate    608
536          reliable    607
494          relevant    606
527         relevance    605
428        relational    604
468         relatable    603
608        regardless    602
381        refreshing    601
767           redwood    600
643           reduces    599
333           recruit    598
731        recommends    597
441   recommendations    596
663    recommendation    595
754         recognize    594
469          recently    593
770           reality    592
624              real    591
552             ready    590
212           rapidly    589
417           ranking    588
156              quot    587
313            quirks    586
606         questions    585
722          question    584
232          querying    583
9               query    582
182           queries    581
395          quantity    580
327      quantitative    579
259           quality    578
228            python    577
26            puzzles    576
142       proprietary    575
634         propeller    574
638          projects    573
286       programming    572
20            program    571
167           profile    570
326     professionals    569
390      professional    568
88           products    567
219        production    566
169           product    565
687        processing    564
433         processes    563
145           process    562
786          problems    561
749           problem    560
474             prior    559
405         principal    558
714         primarily    557
139        presenting    556
719           prepare    555
422         preferred    554
55        preferences    553
444        predictive    552
476        prediction    551
59          practices    550
700         practical    549
508           powered    548
771             power    547
360         potential    546
375          position    545
222            policy    544
165              plus    543
366              play    542
743         platforms    541
218          platform    540
400          planning    539
374              plan    538
361           pivotal    537
318         pipelines    536
676           pioneer    535
648           pinners    534
310            pinner    533
243            person    532
633       performance    531
561           perform    530
655            people    529
33                pbs    528
647          payments    527
589          patterns    526
334          patients    525
567           patient    524
650        passionate    523
678           passion    522
96         partnering    521
553           partner    520
671   parallelization    519
435         pagerduty    518
806             paced    517
404             owler    516
174           overall    515
357          oriented    514
593      organization    513
491      organisation    512
385             order    511
118        optimizing    510
694          optimize    509
540      optimization    508
584       opportunity    507
200        operations    506
410       operational    505
559              open    504
363            online    503
264           offline    502
511            offers    501
211     observational    500
138           nurture    499
57               nuna    498
269         numerical    497
369            normal    496
548               non    495
781              node    494
397               nlp    493
525               new    492
175             needs    491
550              need    490
335            nature    489
187           natural    488
293        narratives    487
368          multiple    486
580            moving    485
224         motivated    484
707          motivate    483
213           monitor    482
784            models    481
789         modelling    480
503          modeling    479
595           modeler    478
382            mobile    477
578                ml    476
423           mission    475
317            mining    474
27             minded    473
110               mid    472
654           methods    471
796     methodologies    470
8               messy    469
89             mentor    468
800          memcache    467
274           members    466
565            member    465
436            meetme    464
562             media    463
378             medal    462
418             means    461
787           meaning    460
172          maturing    459
776       mathematics    458
236     mathematician    457
652      mathematical    456
531             mateo    455
645           mastery    454
235           masters    453
291           massive    452
715              mass    451
616          marrying    450
685         marketing    449
106            market    448
249         mapreduce    447
52       manipulating    446
708          managers    445
5             manager    444
308        management    443
99             manage    442
137            making    441
563              make    440
273         maintains    439
194          maintain    438
161           machine    437
94               love    436
459              lots    435
319               lot    434
12            looking    433
162           located    432
214                ll    431
804             lives    430
505          liveramp    429
393         liquidity    428
188            liquid    427
271            linear    426
307              line    425
641              like    424
518              life    423
69         leveraging    422
309          leverage    421
34              level    420
98            lending    419
502          learning    418
311           leading    417
680            leader    416
669              lead    415
51             lawyer    414
332           largely    413
38              large    412
284          language    411
134           labeled    410
252              kpmg    409
150              kpis    408
408         knowledge    407
631              know    406
479               key    405
802             karma    404
738            junior    403
130              join    402
478               job    401
778               jmp    400
587              java    399
56          iterating    398
113                ip    397
372         involving    396
83           involved    395
262     investigation    394
438       investigate    393
798            invest    392
199      interpreting    391
619          internal    390
659            intern    389
490       interactive    388
166       intelligent    387
446      intelligence    386
266        integrated    385
413         integrate    384
710          integral    383
255         insurance    382
628       instructors    381
127          insights    380
316        insightful    379
202           insight    378
209        innovative    377
499       innovations    376
322          innovate    375
452    infrastructure    374
152       information    373
192            inform    372
697          industry    371
329        industrial    370
646       individuals    369
630         increases    368
261          increase    367
394        incomplete    366
207         including    365
23            include    364
180         improving    363
488          improves    362
299      improvements    361
483           improve    360
788         important    359
92          implement    358
406            impact    357
530         immersive    356
605          identify    355
239        identified    354
603             ideas    353
359             ideal    352
191        hypotheses    351
320               hub    350
734                hq    349
131              hour    348
37               hive    347
205            hiring    346
739              hire    345
100            highly    344
147              high    343
21              helps    342
201              help    341
197        healthcare    340
263            health    339
730              head    338
805            having    337
402           harnham    336
231             hands    335
277              hand    334
602              half    333
594            hadoop    332
543             guide    331
414          guardant    330
660            growth    329
136           growing    328
184              grow    327
480             group    326
582    groundbreaking    325
168              grok    324
79              great    323
17              graph    322
610          graduate    321
653            google    320
155              goal    319
2              global    318
747         glassdoor    317
39         geospatial    316
431               geo    315
453           genomic    314
668          genetics    313
247        generation    312
699         generated    311
526               gap    310
547            funded    309
764         functions    308
612      functionally    307
729          function    306
237             fully    305
706           freeing    304
740             fraud    303
782         francisco    302
542           formats    301
639            formal    300
732              form    299
493       forecasting    298
324          focusing    297
3               focus    296
761            fitbit    295
506           fintech    294
45           findings    293
245         financial    292
225           finance    291
588          fighting    290
615             field    289
295              feel    288
15            feedzai    287
49        feasibility    286
426           fastest    285
300              fast    284
571          fanatics    283
463       familiarity    282
179           faculty    281
337        extracting    280
254           extract    279
170          explores    278
485           explore    277
350       exploratory    276
746       exploration    275
551           experts    274
759         expertise    273
458            expert    272
439       experiments    271
492      experimental    270
367       experienced    269
86         experience    268
690         expansion    267
4            existing    266
693          exciting    265
538           excited    264
158       exceptional    263
125         excellent    262
601             excel    261
541        evaluating    260
627          evaluate    259
672         establish    258
651         essential    257
107       environment    256
539   entrepreneurial    255
32             entire    254
389        enterprise    253
701            ensure    252
546         enriching    251
42            enhance    250
507           engines    249
545         engineers    248
757       engineering    247
305          engineer    246
312        engagement    245
80             engage    244
154               end    243
487          enabling    242
519            enable    241
716           embrace    240
742          embedded    239
535        eloquently    238
303        electronic    237
702           efforts    236
352         efficient    235
153       educational    234
557         education    233
68          editorial    232
472              edge    231
84          economics    230
304         ecommerce    229
258           driving    228
577            drives    227
281            driven    226
384             drive    225
434             draws    224
122          downtown    223
91            domains    222
244            domain    221
756             doesn    220
758           diverse    219
409       distributed    218
123       discovering    217
323          discover    216
579          director    215
248         directing    214
47             direct    213
13     dimensionality    212
500       dimensional    211
568           digital    210
556         different    209
745           devices    208
234          develops    207
572       development    206
533        developing    205
210         developer    204
558           develop    203
246         determine    202
450         detection    201
223           designs    200
420         designing    199
50             design    198
171       description    197
454         deploying    196
674            deploy    195
351         depending    194
482        delivering    193
73       deliverables    192
475           deliver    191
711         delighted    190
424            define    189
529              deep    188
141         dedicated    187
10          decisions    186
673          decision    185
126           debtors    184
425          datasets    183
785         databases    182
183              data    181
229        dashboards    180
46                 d3    179
230           cutting    178
625         customers    177
128          customer    176
724            custom    175
462         currently    174
664           curious    173
564             cross    172
677          critical    171
290  creditworthiness    170
560            credit    169
268          creating    168
288           creates    167
285           created    166
510            create    165
681              core    164
289      conversation    163
486          contract    162
748      continuously    161
679           content    160
111          contains    159
779        contacting    158
392          consumer    157
495           consume    156
419       connections    155
250           connect    154
135          concepts    153
7         computation    152
233         comprised    151
356        complexity    150
566           complex    149
220        compelling    148
120           company    147
498         community    146
688       communicate    145
440            common    144
70         commercial    143
755           command    142
345       comfortable    141
251         combining    140
689          combines    139
620           combine    138
226       combination    137
176        collection    136
514         collected    135
670           collect    134
24        collaborate    133
144        coimbatore    132
0                code    131
6               coach    130
427           closely    129
726          clinical    128
133           clients    127
590            client    126
53              click    125
383             clear    124
160         cleansing    123
388             clean    122
95     classification    121
379             class    120

#### Splitting up the the values of the Snippet feature for comparison.

In [133]:
indeed['snippet'] = indeed['snippet'].str.split()
indeed['split_jobtitle'] = indeed['jobtitle'].str.split()

#### I used the vocabulary to compile three lists of values based on areas of expertise. <br>
This I turn into a set for comparison with the JobTitle and Snippet features.

In [371]:
computering_skills = ['scala', 'python', 'r', 'hadoop', 'sql', 'nosql', 'mongodb', 'tableau', \
                      'spark', 'go', 'julia', 'd3', 'javascript', 'html', 'css', 'zoomdata', \
                      'insight', 've', 'spotfire', 'sas', 'pagerduty', 'owler', 'meetme', \
                      'mattermark', 'liveramp', 'java', 'hive', 'harnham', 'excel', \
                      'adadyn', 'yume', 'yodlee', 'google']

technical_skills = ['statistics', 'machine learning', 'algorithm', 'algorithms', \
                    'deep learning', 'ai', 'visualize', 'visualization', 'visualizations', \
                    'writing', 'wrangle', 'wrangling', 'triage', 'train', 'training', \
                    'testing', 'teach', 'teaching', 'security', 'parallelization', \
                    'nlp', 'model', 'modeling', 'modelling', 'ml', 'mining', \
                    'mentor', 'mathematician', 'mathematics', 'mathematical', \
                    'marketing', 'forecasting', 'algorithmic', 'aggregation', \
                    'storytelling']

experience_skills = ['manager', 'intern', 'data scientist', 'analyst', 'masters', 
                     'phd', 'senior', 'nlp', 'engineer', 'contract', 
                     'head', 'director']

combined_skills = set(computering_skills +  \
                      technical_skills + \
                      experience_skills)

## Creating a cumulative number for all skills.

In [369]:
indeed['skill_count'] = 0
indeed['title_count'] = 0

for idx in indeed.index:
    intersect = list(set(indeed['snippet'][idx]).intersection(combined_skills))
    indeed['skill_count'][idx] = len(intersect)
    
for idx in indeed.index:
    intersect = list(set(indeed['jobtitle'][idx]).intersection(combined_skills))
    indeed['title_count'][idx] = len(intersect)
    
indeed['total_skills'] = indeed['skill_count'] + indeed['title_count']
indeed.drop('skill_count', axis=1, inplace=True)
indeed.drop('title_count', axis=1, inplace=True)

In [370]:
indeed

,company,date,indeedApply,jobtitle,snippet,salary,daysAgo,split_jobtitle,total_skills
0,IBM,2017-05-15 21:28:22,False,manager,"[data, scientist, community, manager, responsi...",65000,3,[manager],2
1,Upstart,2017-03-21 05:52:04,False,intern,"[we're, looking, for, someone, to, join, our, ...",65000,30,[intern],2
2,Walmart eCommerce,2017-03-11 08:46:28,False,intern,"[experience, with, statistical, analysis, data...",65000,30,[intern],3
3,Payette Group,2017-03-14 06:06:07,False,data scientist,"[having, tens, of, thousands, of, debtors, and...",65000,30,"[data, scientist]",0
4,Ipsos North America,2017-02-27 07:10:07,False,analyst,"[love, data, consumer, decision-making, and, p...",65000,30,[analyst],0
5,"Gametime United, Inc.",2017-01-30 23:06:46,False,data scientist,"[process, clean, and, verify, data, used, for,...",65000,30,"[data, scientist]",1
6,IBM,2017-05-15 21:28:22,False,manager,"[data, scientist, community, manager, responsi...",65000,3,[manager],2
7,Upstart,2017-03-21 05:52:04,False,intern,"[we're, looking, for, someone, to, join, our, ...",65000,30,[intern],2
8,Walmart eCommerce,2017-03-11 08:46:28,False,intern,"[experience, with, statistical, analysis, data...",65000,30,[intern],3
9,Payette Group,2017-03-14 06:06:07,False,data scientist,"[having, tens, of, thousands, of, debtors, and...",65000,30,"[data, scientist]",0
10,Ipsos North America,2017-02-27 07:10:07,False,analyst,"[love, data, consumer, decision-making, and, p...",65000,30,[analyst],0
11,"Gametime United, Inc.",2017-01-30 23:06:46,False,data scientist,"[process, clean, and, verify, data, used, for,...",65000,30,"[data, scientist]",1
12,IBM,2017-05-15 21:28:22,False,manager,"[data, scientist, community, manager, responsi...",65000,3,[manager],2
13,Upstart,2017-03-21 05:52:04,False,intern,"[we're, looking, for, someone, to, join, our, ...",65000,30,[intern],2
14,Walmart eCommerce,2017-03-11 08:46:28,False,intern,"[experience, with, statistical, analysis, data...",65000,30,[intern],3
15,Payette Group,2017-03-14 06:06:07,False,data scientist,"[having, tens, of, thousands, of, debtors, and...",65000,30,"[data, scientist]",0
16,Ipsos North America,2017-02-27 07:10:07,False,analyst,"[love, data, consumer, decision-making, and, p...",65000,30,[analyst],0
17,"Gametime United, Inc.",2017-01-30 23:06:46,False,data scientist,"[process, clean, and, verify, data, used, for,...",65000,30,"[data, scientist]",1
18,IBM,2017-05-15 21:28:22,False,manager,"[data, scientist, community, manager, responsi...",65000,3,[manager],2
19,Upstart,2017-03-21 05:52:04,False,intern,"[we're, looking, for, someone, to, join, our, ...",65000,30,[intern],2
20,Walmart eCommerce,2017-03-11 08:46:28,False,intern,"[experience, with, statistical, analysis, data...",65000,30,[intern],3
21,Payette Group,2017-03-14 06:06:07,False,data scientist,"[having, tens, of, thousands, of, debtors, and...",65000,30,"[data, scientist]",0
22,Ipsos North America,2017-02-27 07:10:07,False,analyst,"[love, data, consumer, decision-making, and, p...",65000,30,[analyst],0
23,"Gametime United, Inc.",2017-01-30 23:06:46,False,data scientist,"[process, clean, and, verify, data, used, for,...",65000,30,"[data, scientist]",1
24,IBM,2017-05-15 21:28:22,False,manager,"[data, scientist, community, manager, responsi...",65000,3,[manager],2
25,Upstart,2017-03-21 05:52:04,False,intern,"[we're, looking, for, someone, to, join, our, ...",65000,30,[intern],2
26,Walmart eCommerce,2017-03-11 08:46:28,False,intern,"[experience, with, statistical, analysis, data...",65000,30,[intern],3
27,Payette Group,2017-03-14 06:06:07,False,data scientist,"[having, tens, of, thousands, of, debtors, and...",65000,30,"[data, scientist]",0
28,Ipsos North America,2017-02-27 07:10:07,False,analyst,"[love, data, consumer, decision-making, and, p...",65000,30,[analyst],0
29,"Gametime United, Inc.",2017-01-30 23:06:46,False,data scientist,"[process, clean, and, verify, data, used, for,...",65000,30,"[data, scientist]",1
...,...,...,...,...,...,...,...,...,...
6507,Workbridge Associates,2017-03-23 20:16:18,True,data scientist,"[experience, with, big, data, technologies, sp...",185000,30,"[data, scientist]",1
6508,Workbridge Associates,2017-03-07 01:16:02,True,senior,"[experience, with, big, data, technologies, sp...",185000,30,[senior],2
6509,Workbridge Associates,2017-03-07 21:16:30,True,senior,"[experience, working, closely, with, data, eng...",185000,30,[senior],3
6510,Harnham,2017-05-16 22:06:56,False,director,"[data, science, data, scientist, director, hea...",185000,2,[director],10
6511,Elevate Recruiting Group,2017-05-12 06:23:18,False,senior,"[through, the, our, clients, pivotal, world-vi...",185000,6,[senior],2
6512,Workbridge Associates,2017-04-28 21:43:41,False,senior,"[a, recently, funded, san, francisco, based, m...",185000,20,[senior],2
6513,Jobspring Partners,2017-03-25 00:18:23,True,contract,"[a, cutting-edge, software, solutions, company...",185000,30,[contract],2
6514,Workbridge Associates,2017-03-28 00:14:57,True,nlp,"[you, will, be, working, on, a, small, team, o...",185000,30,[nlp],2
6515,Harnham,2017-03-21 00:52:19,False,senior,"[senior, data, scientist, your, role, as, seni...",185000,30,[senior],3
6516,Workbridge Associates,2017-03-23 20:16:18,True,data scientist,"[experience, with, big, data, technologies, sp...",185000,30,"[data, scientist]",1
6517,Workbridge Associates,2017-03-07 01:16:02,True,senior,"[experience, with, big, data, technologies, sp...",185000,30,[senior],2
6518,Workbridge Associates,2017-03-07 21:16:30,True,senior,"[experience, working, closely, with, data, eng...",185000,30,[senior],3
6519,Harnham,2017-05-16 22:06:56,False,director,"[data, science, data, scientist, director, hea...",185000,2,[director],10
6520,Elevate Recruiting Group,2017-05-12 06:23:18,False,senior,"[through, the, our, clients, pivotal, world-vi...",185000,6,[senior],2
6521,Workbridge Associates,2017-04-28 21:43:41,False,senior,"[a, recently, funded, san, francisco, based, m...",185000,20,[senior],2
6522,Jobspring Partners,2017-03-25 00:18:23,True,contract,"[a, cutting-edge, software, solutions, company...",185000,30,[contract],2
6523,Workbridge Associates,2017-03-28 00:14:57,True,nlp,"[you, will, be, working, on, a, small, team, o...",185000,30,[nlp],2
6524,Harnham,2017-03-21 00:52:19,False,senior,"[senior, data, scientist, your, role, as, seni...",185000,30,[senior],3
6525,Workbridge Associates,2017-03-23 20:16:18,True,data scientist,"[experience, with, big, data, technologies, sp...",185000,30,"[data, scientist]",1
6526,Workbridge Associates,2017-03-07 01:16:02,True,senior,"[experience, with, big, data, technologies, sp...",185000,30,[senior],2
6527,Workbridge Associates,2017-03-07 21:16:30,True,senior,"[experience, working, closely, with, data, eng...",185000,30,[senior],3
6528,Harnham,2017-05-16 22:06:56,False,director,"[data, science, data, scientist, director, hea...",185000,2,[director],10
6529,Elevate Recruiting Group,2017-05-12 06:23:18,False,senior,"[through, the, our, clients, pivotal, world-vi...",185000,6,[senior],2
6530,Workbridge Associates,2017-04-28 21:43:41,False,senior,"[a, recently, funded, san, francisco, based, m...",185000,20,[senior],2
6531,Jobspring Partners,2017-03-25 00:18:23,True,contract,"[a, cutting-edge, software, solutions, company...",185000,30,[contract],2
6532,Workbridge Associates,2017-03-28 00:14:57,True,nlp,"[you, will, be, working, on, a, small, team, o...",185000,30,[nlp],2
6533,Harnham,2017-03-21 00:52:19,False,senior,"[senior, data, scientist, your, role, as, seni...",185000,30,[senior],3
6534,Workbridge Associates,2017-03-23 20:16:18,True,data scientist,"[experience, with, big, data, technologies, sp...",185000,30,"[data, scientist]",1
6535,Workbridge Associates,2017-03-07 01:16:02,True,senior,"[experience, with, big, data, technologies, sp...",185000,30,[senior],2
6536,Workbridge Associates,2017-03-07 21:16:30,True,senior,"[experience, working, closely, with, data, eng...",185000,30,[senior],3

# Let's get testing! 🏁

In [305]:
indeed_copy = indeed.copy()
indeed_copy.drop('snippet', axis=1, inplace=True)
indeed_copy.drop('date', axis=1, inplace=True)
indeed_copy.drop('split_jobtitle', axis=1, inplace=True)

In [306]:
dummies = ['indeedApply', 'jobtitle', 'company']
dummy_df = pd.get_dummies(indeed_copy[dummies])

In [307]:
indeed_analysis = pd.concat([indeed_copy, dummy_df], axis=1)
indeed_analysis.drop(dummies, axis=1, inplace=True)

## Train Test 🚂

In [308]:
X = indeed_analysis
y = indeed_analysis['salary'].ravel()
X.drop('salary', axis=1, inplace=True)

In [309]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [310]:
print 'X train shape: ', X_train.shape
print 'y train shape: ', y_train.shape
print 'X test shape', X_test.shape
print 'y test shape: ', y_test.shape

X train shape:  (3268, 122)
y train shape:  (3268,)
X test shape (3269, 122)
y test shape:  (3269,)

## Try a Lasso... 🐴

In [311]:
def rmse_cv(model):
    rmse= np.sqrt(-cross_val_score(model, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
    return(rmse)

In [312]:
model_lasso = LassoCV(n_alphas=100, selection='random', max_iter=15000).fit(X_train, y_train)
res = rmse_cv(model_lasso)
print("Mean:",res.mean())
print("Min: ",res.min())

('Mean:', 10274.061856624019)
('Min: ', 9437.059456704199)

In [313]:
lasso_df = indeed_analysis
l_coef = pd.Series(model_lasso.coef_, index = lasso_df.columns)
print("Lasso picked " + str(sum(l_coef != 0)) + " variables and eliminated the other " +  str(sum(l_coef == 0)) + " variables")

Lasso picked 78 variables and eliminated the other 44 variables

In [314]:
lasso_coef = pd.concat([l_coef.sort_values().head(10),
                        l_coef.sort_values().tail(10)])

lasso_coef.iplot(kind = "barh", title='Coefficients in the Lasso Model')

In [316]:
lasso_coef.sort_values()

company_IBM                           -84022.673694
company_Ipsos North America           -67540.509145
company_Payette Group                 -55972.149354
company_General Assembly              -53038.581281
jobtitle_intern                       -51345.462695
company_Wells Fargo                   -48517.377445
company_Blackstone Technology Group   -42302.611363
company_Abl Schools                   -38191.830602
company_Gametime United, Inc.         -36817.288700
company_Medal                         -36483.230255
company_Elevate Recruiting Group       27964.973040
company_Credit Karma                   29157.302926
company_Corporate Labs Technology      29331.536197
company_Twitter                        29625.223246
jobtitle_director                      33796.686948
company_DuPont                         38544.695681
company_Kite Staffing                  43941.335895
company_Workbridge Associates          45864.827060
company_Harnham                        50471.202191
company_Jobspring Partners             72944.050867
dtype: float64

## Try a Ridge...

In [317]:
model_ridge = RidgeCV(alphas=(0.01, 0.1, 1.0, 10, 100)).fit(X_train, y_train)
res = rmse_cv(model_ridge)
print("Mean:",res.mean())
print("Min: ",res.min())

('Mean:', 8919.6810894183545)
('Min: ', 8242.1713350845203)

In [318]:
ridge_df = indeed_analysis
r_coef = pd.Series(model_ridge.coef_, index = ridge_df.columns)
print("Ridge picked " + str(sum(r_coef != 0)) + " variables and eliminated the other " +  str(sum(r_coef == 0)) + " variables")

Ridge picked 121 variables and eliminated the other 1 variables

In [319]:
ridge_coef = pd.concat([r_coef.sort_values().head(10),
                    r_coef.sort_values().tail(10)])

ridge_coef.iplot(kind = "barh", title='Coefficients in the Ridge Model')

In [320]:
ridge_coef.sort_values()

company_IBM                     -106833.242428
company_Pfizer Inc.              -72812.295110
company_Zoomdata                 -72520.106139
company_Payette Group            -56922.355972
company_Ipsos North America      -56863.790561
company_General Assembly         -53155.756053
jobtitle_intern                  -49586.991240
company_Abl Schools              -40302.019542
company_Levi Strauss & Co.       -40274.778668
company_Stride Search            -40110.837913
company_Credit Karma              39407.263919
company_DuPont                    43054.393620
jobtitle_manager                  43517.694599
company_Demandbase                43969.504542
company_Kite Staffing             51228.928988
company_Workbridge Associates     51996.861721
company_Harnham                   54998.455339
company_Ticketfly                 55314.066609
jobtitle_director                 63601.710967
company_Jobspring Partners        87373.901211
dtype: float64

## Try an ElasticNet...

In [321]:
model_en = ElasticNetCV(n_alphas=100, alphas=(0.01, 0.1, 1.0, 10, 100, 500), \
                        max_iter=15000, cv=5, n_jobs=-1).fit(X_train, y_train)
res = rmse_cv(model_en)
print("Mean:",res.mean())
print("Min: ",res.min())

('Mean:', 13350.834906986347)
('Min: ', 12652.25994496274)

In [322]:
en_df = indeed_analysis
e_coef = pd.Series(model_en.coef_, index = en_df.columns)
print("ElasticNet picked " + str(sum(e_coef != 0)) + " variables and eliminated the other " +  str(sum(e_coef == 0)) + " variables")

ElasticNet picked 121 variables and eliminated the other 1 variables

In [323]:
eln_coef = pd.concat([e_coef.sort_values().head(10),
                     e_coef.sort_values().tail(10)])

eln_coef.iplot(kind = "barh", title='Coefficients in the ElasticNet Model')

In [325]:
eln_coef.sort_values()

jobtitle_intern                     -40863.207666
company_IBM                         -39564.969077
company_Payette Group               -38947.121230
company_General Assembly            -35368.776276
company_Ipsos North America         -34783.147622
company_Abl Schools                 -28156.762787
company_Gametime United, Inc.       -27861.136472
company_Microsoft                   -23336.086066
company_Medal                       -22831.511337
company_LiveRamp                    -22520.104033
company_Credit Karma                 21393.799291
company_Twitter                      22826.419270
company_Corporate Labs Technology    24421.894934
company_Elevate Recruiting Group     29172.747501
jobtitle_director                    31531.059964
company_DuPont                       33516.096162
company_Kite Staffing                35063.508566
company_Harnham                      37683.089430
company_Workbridge Associates        40439.143442
company_Jobspring Partners           41121.645385
dtype: float64

## 6 items continuously have the most negative coefficient.
#### (One of which is General Assembly. 🙊)

### LassoCV
<b><i>company_IBM                                      -83680.127033</i></b><br>
<b><i>company_Ipsos North America                      -61283.945882</i></b><br>
<b><i>company_Payette Group                            -55162.924482</i></b><br>
<b><i>jobtitle_intern                                  -52931.827562</i></b><br>
<b><i>company_General Assembly                         -51289.012674</i></b><br>
<b><i>company_Abl Schools                              -37933.885551</i></b><br>
company_Wells Fargo                              -37889.699213<br>
company_Gametime United, Inc.                    -37171.204553<br>
company_Blackstone Technology Group              -35675.025423<br>
company_University of California San Francisco   -34951.945051

### RidgeCV

<b><i>company_IBM                        -95302.293940</i></b><br>
company_Pfizer Inc.                -60019.066497<br>
company_Zoomdata                   -59851.290745<br>
<b><i>company_Payette Group              -56326.740790</i></b><br>
<b><i>company_Ipsos North America        -56002.468068</i></b><br>
<b><i>jobtitle_intern                    -52122.052715</i></b><br>
<b><i>company_General Assembly           -50058.492898</i></b><br>
<b><i>company_Abl Schools                -38392.647131</i></b><br>
company_Levi Strauss & Co.         -38091.714666<br>
jobtitle_contract                  -37356.497330

### ElasticNetCV

<b><i>company_IBM                                      -42188.536367</i></b><br>
<b><i>jobtitle_intern                                  -40680.543325</i></b><br>
<b><i>company_Payette Group                            -36127.867658</i></b><br>
<b><i>company_Ipsos North America                      -35141.452584</i></b><br>
<b><i>company_General Assembly                         -35133.725124</i></b><br>
company_Gametime United, Inc.                    -29467.558302<br>
<b><i>company_Abl Schools                              -29155.321394</i></b><br>
company_University of California San Francisco   -22169.940114<br>
company_LiveRamp                                 -21696.303155<br>
company_Microsoft                                -21495.080653

# 🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫🌫

## Setting up for a regression.

In [835]:
indeed_copy = indeed.copy()
indeed_copy.drop('snippet', axis=1, inplace=True)
indeed_copy.drop('date', axis=1, inplace=True)
indeed_copy.drop('split_jobtitle', axis=1, inplace=True)

In [836]:
dummies = ['indeedApply', 'jobtitle', 'company']
dummy_df = pd.get_dummies(indeed_copy[dummies])

In [837]:
indeed_analysis = pd.concat([indeed_copy, dummy_df], axis=1)
indeed_analysis.drop(dummies, axis=1, inplace=True)

### I'll drop the poor performers denoted by LassoCV.

In [838]:
poor_performers = [u'jobtitle_nlp', u'company_6sense', u'company_Activision',
       u'company_Adadyn', u'company_BOLD', u'company_Big Fish',
       u'company_Blend Labs', u'company_Chariot', u'company_CircleUp',
       u'company_Counsyl', u'company_Dropbox', u'company_Genedata',
       u'company_Glassdoor', u'company_Intelliswift Software, Inc.',
       u'company_LendUp', u'company_Lending Club', u'company_Near',
       u'company_Nomis Solutions', u'company_Nuna', u'company_Oracle',
       u'company_PI Benchmark', u'company_Pfizer Inc.', u'company_Pinterest',
       u'company_Product Madness', u'company_Reddit', u'company_Rocket Lawyer',
       u'company_Salesforce', u'company_Samba TV', u'company_Showpad',
       u'company_Shutterfly', u'company_Stride Search', u'company_Supercell',
       u'company_TellApart', u'company_Thumbtack', u'company_Ticketfly',
       u'company_TrueAccord', u'company_Ultimate Software',
       u'company_Walmart eCommerce', u'company_WePay', u'company_Yodlee',
       u'company_YuMe', u'company_Zoomdata', u'company_art.com',
       u'company_ironSource']

indeed_analysis.drop(poor_performers, axis=1, inplace=True)

## Train Test 🚋

In [839]:
X = indeed_analysis
y = indeed_analysis['salary'].ravel()
X.drop('salary', axis=1, inplace=True)

In [840]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [841]:
print 'X train shape: ', X_train.shape
print 'y train shape: ', y_train.shape
print 'X test shape', X_test.shape
print 'y test shape: ', y_test.shape

X train shape:  (3268, 78)
y train shape:  (3268,)
X test shape (3269, 78)
y test shape:  (3269,)

## And now... Regression. 🕵🏻

In [842]:
lr = LinearRegression(n_jobs=-1)

lr.fit(X_train, y_train)

pred_salary = pd.DataFrame()
pred_salary['Predicted Salary'] = lr.predict(X_train.sort_index())

scores = cross_val_score(lr, X_test, y_test, cv=5)

print '---\n5 Fold Cross Validation Scores:', \
      'Accuracy: %0.2f (+/- %0.2f)' % (scores.mean(), scores.std() * 2)

salary_score = '5-Fold CV Mean Average: {percent:.2%}'.format(percent=scores.mean())
salary_std = 'Standard Deviation: {percent:.2%}'.format(percent=scores.std() * 2)

---
5 Fold Cross Validation Scores: Accuracy: 0.93 (+/- 0.02)

In [843]:
true_salary = pd.DataFrame(y_train.astype(float)).sort_index()
true_salary.columns = ['True Salary']
true_salary.reset_index(inplace=True, drop=True)

In [844]:
predicted_salary = pd.concat([pred_salary, true_salary], axis=1)
predicted_salary['Difference'] = predicted_salary['True Salary'] - predicted_salary['Predicted Salary']
predicted_salary.sort_values('True Salary', inplace=True)
predicted_salary.reset_index(drop=True, inplace=True)

In [845]:
predicted_salary.T

,0,1,2,3,4,5,6,7,8,9,...,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267
Predicted Salary,132768.330817,165000.0,188493.992563,6.500000e+04,105000.0,97626.402182,140289.407169,180872.386602,145000.0,182878.612457,...,169585.712418,180872.386602,81506.117208,90227.490057,85000.0,165000.0,169585.712418,125097.982954,161640.893338,102482.258622
True Salary,65000.000000,65000.0,65000.000000,6.500000e+04,65000.0,65000.000000,65000.000000,65000.000000,65000.0,65000.000000,...,185000.000000,185000.000000,185000.000000,185000.000000,185000.0,185000.0,185000.000000,185000.000000,185000.000000,185000.000000
Difference,-67768.330817,-100000.0,-123493.992563,2.182787e-10,-40000.0,-32626.402182,-75289.407169,-115872.386602,-80000.0,-117878.612457,...,15414.287582,4127.613398,103493.882792,94772.509943,100000.0,20000.0,15414.287582,59902.017046,23359.106662,82517.741378

In [846]:
predicted_salary['Difference'].mean()

-2.3077787960237725e-10

In [847]:
predicted_salary.iplot(kind='spread', title='Linear Regression with Salary as Target', \
                       opacity=20, xTitle=salary_score, yTitle=salary_std)

## These scores only okay...

## Set it up again!

In [848]:
indeed_copy = indeed.copy()

In [849]:
indeed_copy.drop('snippet', axis=1, inplace=True)
indeed_copy.drop('date', axis=1, inplace=True)
indeed_copy.drop('split_jobtitle', axis=1, inplace=True)

In [850]:
dummies = ['indeedApply', 'jobtitle', 'company']
dummy_df = pd.get_dummies(indeed_copy[dummies])

In [851]:
indeed_analysis = pd.concat([indeed_copy, dummy_df], axis=1)
indeed_analysis.drop(dummies, axis=1, inplace=True)

In [852]:
poor_performers = [u'jobtitle_nlp', u'company_6sense', u'company_Activision',
       u'company_Adadyn', u'company_BOLD', u'company_Big Fish',
       u'company_Blend Labs', u'company_Chariot', u'company_CircleUp',
       u'company_Counsyl', u'company_Dropbox', u'company_Genedata',
       u'company_Glassdoor', u'company_Intelliswift Software, Inc.',
       u'company_LendUp', u'company_Lending Club', u'company_Near',
       u'company_Nomis Solutions', u'company_Nuna', u'company_Oracle',
       u'company_PI Benchmark', u'company_Pfizer Inc.', u'company_Pinterest',
       u'company_Product Madness', u'company_Reddit', u'company_Rocket Lawyer',
       u'company_Salesforce', u'company_Samba TV', u'company_Showpad',
       u'company_Shutterfly', u'company_Stride Search', u'company_Supercell',
       u'company_TellApart', u'company_Thumbtack', u'company_Ticketfly',
       u'company_TrueAccord', u'company_Ultimate Software',
       u'company_Walmart eCommerce', u'company_WePay', u'company_Yodlee',
       u'company_YuMe', u'company_Zoomdata', u'company_art.com',
       u'company_ironSource']

indeed_analysis.drop(poor_performers, axis=1, inplace=True)

## Train Test 🚋

In [853]:
X = indeed_analysis
y = indeed_analysis['salary'].ravel()
X.drop('salary', axis=1, inplace=True)

In [854]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [855]:
print 'X train shape: ', X_train.shape
print 'y train shape: ', y_train.shape
print 'X test shape', X_test.shape
print 'y test shape: ', y_test.shape

X train shape:  (3268, 78)
y train shape:  (3268,)
X test shape (3269, 78)
y test shape:  (3269,)

## And now... Regression(s).
### Let's shake this up a bit.  
# 🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉

In [856]:
lr = LinearRegression(n_jobs=-1)

lr.fit(X_train, y_train)

pred_lr_salary = pd.DataFrame()
pred_lr_salary['Predicted Salary'] = lr.predict(X_train.sort_index())

scores = cross_val_score(lr, X_test, y_test, cv=5)

print '---\n5 Fold Cross Validation Scores:', \
      'Accuracy: %0.2f (+/- %0.2f)' % (scores.mean(), scores.std() * 2)

lr_salary_score = '5-Fold CV Mean Average: {percent:.2%}'.format(percent=scores.mean())
lr_salary_std = 'Standard Deviation: {percent:.2%}'.format(percent=scores.std() * 2)

---
5 Fold Cross Validation Scores: Accuracy: 0.93 (+/- 0.02)

In [857]:
rfr = RandomForestRegressor(n_estimators=50)
    
rfr.fit(X_train, y_train)

pred_rfr_salary = pd.DataFrame()
pred_rfr_salary['Predicted Salary'] = rfr.predict(X_train.sort_index())

scores = cross_val_score(rfr, X_test, y_test, cv=5)

print '---\n5 Fold Cross Validation Scores:', \
      'Accuracy: %0.2f (+/- %0.2f)' % (scores.mean(), scores.std() * 2)

rfr_salary_score = '5-Fold CV Mean Average: {percent:.2%}'.format(percent=scores.mean())
rfr_salary_std = 'Standard Deviation: {percent:.2%}'.format(percent=scores.std() * 2)

---
5 Fold Cross Validation Scores: Accuracy: 0.98 (+/- 0.02)

In [858]:
knn = KNeighborsRegressor(5)

knn.fit(X_train, y_train)

pred_knn_salary = pd.DataFrame()
pred_knn_salary['Predicted Salary'] = knn.predict(X_train.sort_index())

scores = cross_val_score(knn, X_test, y_test, cv=5)

print '---\n5 Fold Cross Validation Scores:', \
      'Accuracy: %0.2f (+/- %0.2f)' % (scores.mean(), scores.std() * 2)

knn_salary_score = '5-Fold CV Mean Average: {percent:.2%}'.format(percent=scores.mean())
knn_salary_std = 'Standard Deviation: {percent:.2%}'.format(percent=scores.std() * 2)

---
5 Fold Cross Validation Scores: Accuracy: 0.96 (+/- 0.02)

In [859]:
true_salary = pd.DataFrame(y_train.astype(float)).sort_index()
true_salary.columns = ['True Salary']
true_salary.reset_index(inplace=True, drop=True)

In [860]:
predicted_lr_salary = pd.concat([pred_lr_salary, true_salary], axis=1)
predicted_lr_salary['Difference'] = predicted_lr_salary['True Salary'] - predicted_lr_salary['Predicted Salary']
predicted_lr_salary.sort_values('True Salary', inplace=True)
predicted_lr_salary.reset_index(drop=True, inplace=True)

In [861]:
predicted_rfr_salary = pd.concat([pred_rfr_salary, true_salary], axis=1)
predicted_rfr_salary['Difference'] = predicted_rfr_salary['True Salary'] - predicted_rfr_salary['Predicted Salary']
predicted_rfr_salary.sort_values('True Salary', inplace=True)
predicted_rfr_salary.reset_index(drop=True, inplace=True)

In [862]:
predicted_knn_salary = pd.concat([pred_knn_salary, true_salary], axis=1)
predicted_knn_salary['Difference'] = predicted_knn_salary['True Salary'] - predicted_knn_salary['Predicted Salary']
predicted_knn_salary.sort_values('True Salary', inplace=True)
predicted_knn_salary.reset_index(drop=True, inplace=True)

In [863]:
predicted_lr_salary.T

,0,1,2,3,4,5,6,7,8,9,...,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267
Predicted Salary,145000.0,105000.0,125000.0,182099.258868,138486.212852,111909.685011,75561.091741,105000.0,134013.07924,92048.631148,...,125707.670189,125707.670189,125707.670189,125707.670189,111542.647789,125000.0,125707.670189,123956.306793,125707.670189,125000.0
True Salary,65000.0,65000.0,65000.0,65000.000000,65000.000000,65000.000000,65000.000000,65000.0,65000.00000,65000.000000,...,185000.000000,185000.000000,185000.000000,185000.000000,185000.000000,185000.0,185000.000000,185000.000000,185000.000000,185000.0
Difference,-80000.0,-40000.0,-60000.0,-117099.258868,-73486.212852,-46909.685011,-10561.091741,-40000.0,-69013.07924,-27048.631148,...,59292.329811,59292.329811,59292.329811,59292.329811,73457.352211,60000.0,59292.329811,61043.693207,59292.329811,60000.0

In [864]:
predicted_rfr_salary.T

,0,1,2,3,4,5,6,7,8,9,...,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267
Predicted Salary,145000.0,105000.0,125000.0,185000.0,142713.030598,125000.0,72719.132171,105000.0,125000.0,85000.0,...,125380.982471,125380.982471,125380.982471,125380.982471,125000.0,125000.0,125380.982471,125000.0,125380.982471,125000.0
True Salary,65000.0,65000.0,65000.0,65000.0,65000.000000,65000.0,65000.000000,65000.0,65000.0,65000.0,...,185000.000000,185000.000000,185000.000000,185000.000000,185000.0,185000.0,185000.000000,185000.0,185000.000000,185000.0
Difference,-80000.0,-40000.0,-60000.0,-120000.0,-77713.030598,-60000.0,-7719.132171,-40000.0,-60000.0,-20000.0,...,59619.017529,59619.017529,59619.017529,59619.017529,60000.0,60000.0,59619.017529,60000.0,59619.017529,60000.0

In [865]:
predicted_knn_salary.T

,0,1,2,3,4,5,6,7,8,9,...,3258,3259,3260,3261,3262,3263,3264,3265,3266,3267
Predicted Salary,145000.0,105000.0,125000.0,185000.0,141000.0,125000.0,65000.0,105000.0,125000.0,85000.0,...,129000.0,129000.0,129000.0,129000.0,125000.0,125000.0,129000.0,125000.0,129000.0,125000.0
True Salary,65000.0,65000.0,65000.0,65000.0,65000.0,65000.0,65000.0,65000.0,65000.0,65000.0,...,185000.0,185000.0,185000.0,185000.0,185000.0,185000.0,185000.0,185000.0,185000.0,185000.0
Difference,-80000.0,-40000.0,-60000.0,-120000.0,-76000.0,-60000.0,0.0,-40000.0,-60000.0,-20000.0,...,56000.0,56000.0,56000.0,56000.0,60000.0,60000.0,56000.0,60000.0,56000.0,60000.0

In [866]:
predicted_lr_salary.iplot(kind='spread', title='Linear Regression with Salary as Target', \
                          opacity=20, xTitle=lr_salary_score, yTitle=lr_salary_std, mean=True)

In [867]:
predicted_rfr_salary.iplot(kind='spread', title='Random Forest Regression with Salary as Target', \
                           opacity=20, xTitle=rfr_salary_score, yTitle=rfr_salary_std, mean=True)

In [868]:
predicted_knn_salary.iplot(kind='spread', title='K-Nearest Neighbors Regression with Salary as Target', \
                           opacity=20, xTitle=knn_salary_score, yTitle=knn_salary_std, mean=True)

### <b>My response from adjusting the Linear Regression was minimal.</b> 😿
### <b>BUT! The response from a Random Forest Regression and K-Neighbors Regression were solid!</b>

# Well, lesson learned.
## Using the Indeed API to pull job descriptions performs only okay-ish at predicting salaries.
## I expect that this experiment would fare better if the API provided complete job descriptions instead of snippets.